* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:after,
	&:before {
		box-sizing: border-box;
	}
	&:focus-visible {
		border: none;
		outline: none;
	}
}
:root {
	--vh: 100%;
}

*::selection {
	background: #ff4800;
	color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html,
a {
	cursor: none;
	@media (max-width: $mediaMobile) {
		cursor: auto;
	}
}
html,
body {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
	font-family: "Poppins", "Noto Sans KR", sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	font-weight: 400;
	background: #eeeeee;
	@media (max-width: 1800px) {
		font-size: 0.938rem;
	}
	@media (max-width: 1700px) {
		font-size: 0.875rem;
	}
	@media (max-width: 1600px) {
		font-size: 0.813rem;
	}
	@media (max-width: 1500px) {
		font-size: 0.75rem;
	}
	@media (max-width: 1400px) {
		font-size: 0.688rem;
	}
	@media (max-width: 1300px) {
		font-size: 0.625rem;
	}
	@media (max-width: 1200px) {
		font-size: 0.563rem;
	}
	@media (max-width: 1000px) {
		font-size: 0.5rem;
	}
	@media (max-width: 900px) {
		font-size: 0.438rem;
	}
	@media (max-width: 800px) {
		font-size: 0.375rem;
	}
}

label {
	cursor: pointer;
}
code {
	display: block;
}

a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
menu,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
table,
input,
button,
select,
textarea {
	font-size: 1rem;
}
input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Noto Sans KR", sans-serif;
	color: #212529;
	box-sizing: border-box;
	&::placeholder {
		color: #808991;
	}
}
em,
cite,
address,
optgroup {
	font-style: normal;
}
kbd,
samp,
code {
	font-family: monospace;
}

img,
input,
button,
select,
textarea {
	vertical-align: middle;
}
img {
	-ms-interpolation-mode: bicubic !important;
}
ul,
ol {
	list-style: none;
}
img,
fieldset {
	border: 0;
}
abbr,
acronym {
	border-bottom: 1px dotted #f60;
	cursor: help;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

legend {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
legend,
caption {
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
main,
meter,
nav,
output,
progress,
section,
source,
video {
	display: block;
}
mark,
rp,
rt,
ruby,
summary,
time {
	display: inline;
}
